body			{background-image: url(images/background.png);
			background-repeat: no-repeat;
			}
			
#homecontent		{background-color: #FFFFFF;
			color: #000000;
			width: 1400px;
			height: 890px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			box-shadow: 7px 7px 10px #4C4C4C;
			}
			
#csacontent		{background-color: #FFFFFF;
			width: 1400px;
			height: 2440px;
			margin-left: auto;
			margin-right: auto;
			box-shadow: 7px 7px 10px #4C4C4C;
			border: 2px solid #000000;
			}
			
#newscontent		{background-image: url(images/newsbackground.png);
			background-repeat: no-repeat;
			color: #000000;
			width: 1400px;
			height: 840px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			box-shadow: 7px 7px 10px #4C4C4C;
			}
			
#recipescontent		{background-color: #FFFFFF;
			color: #000000;
			width: 1400px;
			height: 2335px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			box-shadow: 7px 7px 10px #4C4C4C;
			border: 1px solid #000000;
			}
			
#educationcontent	{background-color: #FFFFFF;
			color: #000000;
			width: 1400px;
			height: 2790px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			box-shadow: 7px 7px 10px #4C4C4C;
			border: 1px solid #000000;
			}
			
#farmersmarketcontent	{background-color: #FFFFFF;
			color: #000000;
			width: 1400px;
			height: 1515px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			box-shadow: 7px 7px 10px #4C4C4C;
			border: 1px solid #000000;
			}
			
#aboutcontent		{background-color: #FFFFFF;
			color: #000000;
			width: 1400px;
			height: 2120px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			box-shadow: 7px 7px 10px #4C4C4C;
			border: 1px solid #000000;
			}

nav			{background-color: #66A37A;
			height: 40px;
			margin: 0px;
			border-top: 5px solid #000000;
			width: 1400px;
			padding: 0px;
			font-size: 0px
			}
			
#navimages		{display: block;
			margin: 0px;
			padding: 0px;
			float: left;
			clear: left;
			border: 0px;
			padding: 0px;
			margin-top: 0px;
			}
			
#homecontent1		{background-color: #FFFFFF;
			font-family: "Palatino Linotype", Arial, sans-serif;
			padding: 5px 5px 0px 5px;
			font-size: 29.5px;
			text-align: left;
			margin-bottom: 0px;
			margin-left: 5px;
			}
			
#homecontent2		{background-color: #FFFFFF;
			font-family: "Palatino Linotype", Arial, sans-serif;
			padding: 0px 5px 0px 5px;
			font-size: 29.5px;
			text-align: right;
			margin-left: 5px;
			}	
			
#homeimage1		{display: block;
			float: right;
			clear: right;
			padding: 10px 10px 10px 5px;
			}
			
#homeimage2		{display: block;
			float: left;
			clear: left;
			padding: 5px 10px 10px 10px;
			}
			
#headerpic1		{float: left;
			clear: left;
			}
			
#headerpic2		{float: right;
			clear: right;
			}		
			
header			{height: 300px;
			background-image: url(images/headerbackground.png);
			background-repeat: no-repeat;
			margin: 0px;
			padding: 0px;
			}
			
#header1		{font-size: 40px;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			border-bottom: 2px dotted #000000;
			color: #002900;
			font-family: "Palatino Linotype", Arial, sans-serif;
			}
			
footer			{font-size: 28px;
			height: 40px;
			padding-top: 5px;
			border-top: 2px solid #000000;
			font-family: "Century Gothic", Arial, sans-serif;
			text-align: center;
			clear: right;
			clear: left;
			padding-bottom: 5px;
			width: 100%;
			}

#backtotop		{float: right;
			clear: right;
			padding-right: 5px;
			}
			
#header2		{text-align: center;
			padding-top: 5px;
			font-size: 30px;
			font-style:italic;
			font-weight: bold;
			margin-bottom: 0px;
			padding-bottom: 0px;
			}
			
#csacontent1		{text-align: left;
			padding-right: 10px;
			padding-left: 10px;
			font-family: "Palatino Linotype", Arial, sans-serif;
			font-size: 20px;
			padding-bottom: 0px;
			margin-bottom: 0px;
			}
			
#csacontent2		{text-align: left;
			padding-right: 10px;
			padding-left: 10px;
			font-family: "Palatino Linotype", Arial, sans-serif;
			font-size: 20px;
			}	

#shares			{border: 2px solid #000000;
			margin-left:auto; 
    			margin-right:auto;
    			margin-bottom: 10px;
    			font-family: "Palatino Linotype", Arial, sans-serif;
    			font-size: 23px;
			}
			
#shares td, tr		{text-align:center;
			border: 2px solid #000000;
			padding: 4px;
			}
			
#csasidebar1		{float: left;
			clear: left;
			padding-right: 10px;
			padding-bottom: 0px;
			margin-bottom: 0px;
			}
			
#csasidebar2		{float: right;
			clear: right;
			padding-left: 10px;
			padding-bottom: 0px;
			margin-bottom: 0px;
			}

#newscontent1		{font-family: "Palatino Linotype", Arial, sans-serif;
			font-size: 25px;
			text-align: center;
			padding: 5px;
			}

#newsfblogo		{display: block;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 10px;
			}
			
#newscontent2		{font-family: "Palatino Linotype", Arial, sans-serif;
			font-size: 25px;
			text-align: center;
			padding-bottom: 10px;
			}
			
#recipebar		{display: block;
			margin-left: auto;
			margin-right: auto;
			padding-top: 10px;
			}
			
#springtable		{width: 1200px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			font-family: "Palatino Linotype", Arial, sans-serif;
			font-size: 15px;
			margin-bottom: 2px;
			margin-top: 10px;
			border: 3px solid #000000;
			}
			
#springtable td.springtdfont	{border-style:none;
				font-size: 30px;
				}
				
#springtable th		{font-size: 40px;
			}
			
#springtablesource	{font-family: "Palatino Linotype", Arial, sans-serif;
			font-size: 15px;
			text-align: center;
			}
			
#summertable		{width: 1300px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			font-family: "Palatino Linotype", Arial, sans-serif;
			font-size: 15px;
			margin-bottom: 2px;
			margin-top: 10px;
			border: 3px solid #000000;
			}
			
#summertable th		{font-size: 40px;
			}
			
#summertable td.summertdfont	{border-style:none;
				font-size: 25px;
				}
				
#summertablesource	{font-family: "Palatino Linotype", Arial, sans-serif;
			font-size: 15px;
			text-align: center;
			margin-bottom: 10px;
			}
			
.header2		{text-align: center;
			padding-top: 5px;
			font-size: 30px;
			font-style:italic;
			font-weight: bold;
			margin-bottom: 0px;
			padding-bottom: 0px;
			}
			
.recipebar		{display: block;
			margin-left: auto;
			margin-right: auto;
			padding-top: 10px;
			}
			
#csafooter		{font-size: 28px;
			height: 35px;
			padding-top: 5px;
			margin-top: 0px;
			border-top: 2px solid #000000;
			font-family: "Century Gothic", Arial, sans-serif;
			text-align: center;
			padding-bottom: 5px;
			width: 100%;
			}
			
#educationpic1		{margin-top: 10px;
			margin-bottom: -5px;
			padding-bottom: 0px;
			}
			
#educationpic2		{margin-top: -5px;
			margin-bottom: -5px;
			padding-bottom: 0px;
			}
			
#farmersmarketcontent1	{font-family: "Century Gothic", Arial, sans-serif;
			font-size: 29px;
			text-align: center;
			padding: 10px;
			}
			
#farmersmarketfblogo	{display: block;
			margin-left: auto;
			margin-right: auto;
			clear: left;
			clear: right;
			}

#farmersmarketlogo	{display: block;
			margin-left: auto;
			margin-right: auto;
			clear: left;
			clear: right;
			}
			
#farmersmarketlogosource	{font-family: "Palatino Linotype", Arial, sans-serif;
				font-size: 12px;
				text-align: center;
				margin-bottom: 10px;
				}

#aboutcontent1		{font-family: "Palatino Linotype", Arial, sans-serif;
			font-size:40px;
			font-weight: bold;
			font-style: italic;
			text-align: left;
			margin: 20px 10px 20px 20px
			}
			
#aboutpic1		{float: left;
			clear: left;
			padding: 10px;
			}
			
#aboutpic2		{float: right;
			clear: right;
			padding: 10px;
			}
			
#header3		{font-size: 40px;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			border-bottom: 2px dotted #000000;
			border-top: 2px dotted #000000;
			color: #990000;
			font-family: "Palatino Linotype", Arial, sans-serif;
			}
			
#aboutcontent2		{font-family: "Palatino Linotype", Arial, sans-serif;
			font-size: 25px;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 20px;
			}
			
.header3		{font-size: 40px;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			border-bottom: 2px dotted #000000;
			border-top: 2px dotted #000000;
			color: #006B24;
			font-family: "Palatino Linotype", Arial, sans-serif;
			}
			
#aboutcontent3		{font-family: "Palatino Linotype", Arial, sans-serif;
			font-size: 24px;
			text-align: center;
			padding-top: 15px;
			padding-bottom: 20px;
			}

#websitecredits		{font-family: "Garamond", Arial, sans-serif;
			font-size: 24px;
			text-align: center;
			margin-top: 15px;
			margin-bottom: 10px;
			border: 2px solid #000000;
			padding: 5px;
			width: 600px;
			margin-left: auto;
			margin-right: auto;
			}
			
#recipescontent1	{font-family: "Palatino Linotype", Arial, sans-serif;
			font-size: 25px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 10px;
			width: 80%;
			border-top: 2px dotted #000000;
			border-bottom: 2px dotted #000000;
			}
			
#educationcontent1	{font-family: "Palatino Linotype", Arial, sans-serif;
			font-size: 25px;
			text-align: left;
			clear: left;
			clear: right;
			margin-left: 10px;
			margin-right: 10px;
			margin-top: 5px;
			}
			
#educationheader1	{text-align: center;
			padding-top: 5px;
			font-size: 45px;
			font-style:italic;
			font-weight: bold;
			margin-bottom: 10px;
			padding-bottom: 0px;
			border-bottom: 2px dotted #000000;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			}
			
#header4		{text-align: center;
			padding-top: 5px;
			font-size: 30px;
			font-style:italic;
			font-weight: bold;
			margin-bottom: 0px;
			padding-bottom: 0px;
			}
			
#csacontent3		{text-align: center;
			padding-right: 10px;
			padding-left: 10px;
			font-family: "Palatino Linotype", Arial, sans-serif;
			font-size: 20px;
			}	